$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
a {
  color: #000;
}
.btn-default {
  background-color: #27BEC6;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;  border-radius: 0;
  color: #FFF;
}
.sensor_details {
    display: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  position: relative;
}
body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.body-background {
  background: url(../images/background.png) -337px bottom no-repeat;
  height: 424px;
  width: 200px;
}
.wrap-body {
  z-index: 1;
  position: relative;
}
.hot {
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: -119px center;
}
.cold {
  position: absolute;
  bottom: 0;
  right: 0;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border: none;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
    margin-bottom: 20px;
    padding-top: 20px;
    color: white;

    .container {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 30px;
      padding-top: 19px;
      color: #FFF;
      border-top: none;
    }

    a {
      color: #FFF;
    }

    .nav-pills > li > a:hover,
    .nav-pills > li > a:focus {
      background-color: #D71F3C;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.modal-content {
  text-align: center;
}
.thumbnail {
  text-align: center;
}
.navbar-header {
  width: 100%;
}
h1 {
  color: white;
  margin-top: 10px;
}
/* Logo */
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: auto;
  width: 200px;

  img {
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
  }
}
.base {
    background: url(../images/menu-background.gif) repeat-x;
    padding-left: 20%;
    
    h3 {
      padding: 0;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
      background-color: #27BEC6;
      font-weight: bold;
      font-size: 20px;
      top: -4px;
      border-radius: 0;
    }
}
.build {
    background: url(../images/menu-background.gif) repeat-x;
    padding-left: 20%;

    h3 {
      padding: 0;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
      background-color: #f2b833;
      font-weight: bold;
      font-size: 20px;
      top: -4px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
}
.navbar-default {
  background: none;
  border: none;

  .navbar-collapse {
    clear: both;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
    padding: 0;
  }
}
body {
  background-color: #444;
}

.main-content {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
}



/* Sensors */
.sensores .td {
  border: none;
}
.sensores {
    .table {
        color: white;
        text-align: center;
        
        thead tr th,
        thead tr td,
        tbody tr th,
        tbody tr td,
        tfoot tr th,
        tfoot tr td {
           border: none !important;
        }

        tbody tr {
          border: none;
          margin-bottom: 10px;
          background: #444;
          font-size: 20px;
          color: white;
        }

        thead th {
          font-size: 10px;
          text-align: center;
        }

        caption {
          text-align: center;
          color: #FFF;
          font-size: 35px;
        }
    }
}
caption {
  text-align: center;
}
.table > caption + thead > tr:first-child > th {
  text-align: center;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
@media screen and (max-width: 992px) {
  .base {
    padding-left: 40%;
  }
  .build {
    padding-left: 40%;
  }
}
@media screen and (max-width: 767px) {
  .navbar-default {
    .navbar-collapse {
      position: relative;
    }
    .base {
      padding-left: 10px;
    }
    .build {
      padding-left: 10px;
    }
  }
  .header {
    padding: 0;

    h1 {
      height: 100px;
      display: table-cell;
      vertical-align: middle;
      width: 60%;
      font-size: 20px;
    }

    .navbar-default {
      .navbar-brand {
        width: 40%;
      }
      .navbar-toggle {
        border-color: #DDD;
        position: absolute;
        right: 0px;
        top: 35px;
      }
    }

    .nav-pills {
      .disabled {
        display: none;
      }
    }

    .navbar-collapse.in {
      overflow: visible;
    }
  }
}