$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.btn-default {
  background-color: #27BEC6;
}
.sensor_details {
    display: none;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background: url(images/background.png) bottom left;
}
.body-background {
  background: url(images/background.png) bottom right;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border: none;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
    margin-bottom: 20px;
    padding-top: 20px;
    color: white;

    .container {
      background-color: rgba(0, 0, 0, 0.2);
      padding: 30px;
      padding-top: 19px;
      color: #FFF;
      border-top: none;
    }
    a {
      color: #FFF;
    }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.navbar-header {
  width: 100%;
}
h1 {
  color: white;
  margin-top: 10px;
}
/* Logo */
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: auto;
  width: 200px;

  img {
    display: block;
    width: 100%;
    z-index: 1;
    position: relative;
  }
}
.base {
    background: white;
    padding-left: 40%;
    margin-bottom: 10px;

    h3 {
      padding: 0;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
      background-color: #27BEC6;
    }
}
.build {
    background: white;
    padding-left: 40%;

    h3 {
      padding: 0;
    }

    .nav-pills > li.active > a,
    .nav-pills > li.active > a:hover,
    .nav-pills > li.active > a:focus {
      background-color: #f2b833;
    }
}
.navbar-default {
  background: none;
  border: none;

  .navbar-collapse {
    clear: both;
    position: absolute;
    top: 30%;
    right: 0;
    left: 0;
  }
}
body {
  background-color: #444;
}

.main-content {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px;
}



/* Sensors */
.sensores .td {
  border: none;
}
.sensores {
    .table {
        color: white;

        thead tr th,
        thead tr td,
        tbody tr th,
        tbody tr td,
        tfoot tr th,
        tfoot tr td {
           border: none !important;
        }

        tbody tr {
          border: none;
          margin-bottom: 10px;
          display: block;
          background: #444;
          font-size: 20px;
          color: white;
        }

        thead th {
          font-size: 10px;
        }

        caption {
          text-align: center;
          color: #FFF;
          font-size: 35px;
        }
    }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
