<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/ccunha.jpg" alt="Kadu" class="img-circle">
      <div class="caption">
        <h3>Kadu (ccunha)</h3>
        <p>Sensei</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/francisrs.jpg" alt="Francis" class="img-circle">
      <div class="caption">
        <h3>Francis (francisrs)</h3>
        <p>Dev</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/hmamede.jpg" alt="Helder" class="img-circle">
      <div class="caption">
        <h3>Helder (hmamede)</h3>
        <p>Dev</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/jpompei.jpg" alt="Pompei" class="img-circle">
      <div class="caption">
        <h3>Pompei (jpompei)</h3>
        <p>Dev</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/prodrigo.jpg" alt="Pedro" class="img-circle">
      <div class="caption">
        <h3>Pedro (prodrigo)</h3>
        <p>Dev</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/ricardop.jpg" alt="Ricardo" class="img-circle">
      <div class="caption">
        <h3>Ricardo (ricardop)</h3>
        <p>Dev/Webdev</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/varantes.jpg" alt="Big" class="img-circle">
      <div class="caption">
        <h3>Vinícius (varantes)</h3>
        <p>Dev/Webdev</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../images/team/wilsonjo.jpg" alt="Wilson" class="img-circle">
      <div class="caption">
        <h3>Wilson (wilsonjo)</h3>
        <p>Dev</p>
      </div>
    </div>
  </div>
</div>