{{path}}

<!--
<div class="sensors-container" data-ng-init="getValuesFromSensor(1,false,'#gauge_1_Temperature')">
    <div id="gauge_1_Temperature" class="150x120px"></div>
    <div ng-include="'views/listasensores.html'"></div>
</div>

<div class="sensors-container" data-ng-init="getValuesFromSensor(2,false,'#gauge_2_Temperature')">
    <div id="gauge_2_Temperature" class="150x120px"></div>
    <div ng-include="'views/listasensores.html'"></div>
</div>

<div class="sensors-container" data-ng-init="getValuesFromSensor(3,false,'#gauge_3_Temperature')">
    <div id="gauge_3_Temperature" class="150x120px"></div>
    <div ng-include="'views/listasensores.html'"></div>
</div>
-->

{{getDevicesByGroup()}}
